// no-unused-vars bug eslinta wewnątrz for do ponownego włączenia w nowszej wersji eslinta/babela
{
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "extends": [
        "standard",
    ],
    "rules": {
        "object-curly-spacing": "off",
        "indent": [
            "error",
            4,
            {
                "ignoredNodes": [
                    "TemplateLiteral"
                ],
                "SwitchCase": 1
            }
        ],
        "space-before-function-paren": "off",
        "no-prototype-builtins": "off",
        "prefer-promise-reject-errors": "off",
        "no-unused-vars": "off"
    }
}