.content {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  font-family: var(--app-content-font-name);
  font-size: var(--app-content-font-size);
  background-color: var(--app-content-bg);
  color: var(--app-content-text);
  border-left: var(--app-border);
  border-right: var(--app-border);
  border-bottom: var(--app-border);

  &.customPointer,
  &.customPointer * {
    cursor: none !important;
  }

  .debug {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    padding: 5px;
    font-size: 0.7em;
    color: #dedede;
    background-color: rgba(0, 0, 0, 0.7);

    dl,
    dt,
    dd {
      margin: 0;
    }

    dt,
    dd {
      display: inline-block;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    dt {
      width: 45%;
      text-align: right;
      padding-right: 0.2em;

      &.section {
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin-top: 0.2em;
      }
    }

    dd {
      width: 55%;
      padding-left: 0.2em;
    }

    .poor {
      color: rgb(247, 114, 114);
    }

    .medium {
      color: rgb(250, 250, 125);
    }

    .good {
      color: rgb(117, 228, 117);
    }
  }
}
