:root {
    --app-border: rgba(0, 0, 0, 0.5);
    --app-bg: rgb(89, 89, 94);
    --app-text: #fff;
    --font-name: 'Lato', 'Open Sans', sans-serif;
    --font-size: 1.4em;
    --header-size: 2em;
    --header-color: #f0f0f0;
    --header-background: #3E3E42;
}